.row-centered {
    text-align: center;
}
h1{color: grey;}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
a{ color: darkorange;}
body {

    background-color:  #36454f;
    color: white;
     border:5px solid;
    padding: 20px;
    -webkit-border-image: url(back.jpg); /* Safari 3.1-5 */
    -o-border-image: url(back.jpg); /* Opera 11-12.1 */
    border-image: url(back.jpg);
    border-image-slice: 15;
    border-image-width: 5; 
    border-image-repeat: round;
}
.bord {
    border-style: dashed;
    border-width: 1px;
    border-radius: 23px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
}

img.resize {
    width: 540px; /* you can use % */
    height: auto;
}

.form-control {
    width: 20%;
    margin: 0 auto;
}